header {
	height: 100vh;
	padding-top: 7rem;
	overflow: hidden;
}

.header__container {
	text-align: center;
	height: 100%;
	position: relative;
	color: var(--color-white);
}

.header__container-options {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 4rem;
}

.header__container-countries {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.header__container-countries > img {
	width: 4rem;
	cursor: pointer;
}

.header__container-h5 {
	font-size: 1rem;
	color: var(--color-light);
}

/* CTA */
.cta {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

/* HEADER SOCIALS */
.header__socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	position: absolute;
	left: 0;
	bottom: 3rem;
}

.header__socials-logo {
	font-size: 2rem;
}

.header__socials::after {
	content: '';
	width: 3px;
	height: 2rem;
	background: var(--color-primary);
}

.header__socials::before {
	content: '';
	width: 3px;
	height: 2rem;
	background: var(--color-primary);
}

/* ME */
.me {
	/* background: var(--color-primary); */
	background: linear-gradient(var(--color-primary), transparent);
	width: 22rem; /* 22/2 = 11rem */
	height: 30rem;
	position: relative;
	/* left: 50%; the same
    transform: translateX(-50%); */
	left: calc(50% - 11rem);
	margin-top: 4rem;
	border-radius: 5rem 5rem 0 0;
	overflow: hidden;
	padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me img {
	border-radius: 3rem 3rem 0 0;
}

/* SCROLL DOWN */
.scroll__down {
	position: absolute;
	right: -2.3rem;
	bottom: 8rem;
	transform: rotate(90deg);
	font-weight: 300;
	font-size: 1.2rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
	header {
		height: 100vh;
	}
}

@media screen and (max-width: 600px) {
	header {
		height: fit-content;
	}

	.header__socials,
	.scroll__down {
		display: none;
	}
}
